<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TfsUri" value="http://logpmtfs01v:8080/tfs/{0}" />
    <add key="PackagesDropLocation" value="\\logvidpl01v.logitravelprod.local\dp" />
    <add key="StandardTemplate" value="Toolfactory-Standard.12.xaml" />
    <add key="ServicesTemplate" value="Toolfactory-WindowsService.12.xaml" />
    <add key="NoCompileFullTemplate" value="Toolfactory-NoCompile.Full.12.xaml" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>